/*
    I want the CSS variable --slack-color used in Header.css to be in the scope of the body
*/
body {
  --slack-color: #3f0f40;
  /* Hid scroll bar */
  overflow: hidden;
}

.app__body {
  display: flex;
  height: 100vh;
}
