.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  /* CSS variable */
  background-color: var(--slack-color);
  color: white;
}

.header__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  /* Do not touch the edge */
  margin-left: 20px;
}

/*
    Target the Material UI AccessTime Icon
    Give it a margin left of auto. It's basically going to determine the margin that it's going to usr
*/
.header__left > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 30px;
}

.header__avatar {
}

.header__search {
  flex: 0.4;
  display: flex;
  text-align: center;
  background-color: #421f44;
  padding: 0 50px;
  color: gray;
  border: 1px gray solid;
  border-radius: 6px;
}

.header__search > input {
  background-color: transparent;
  border: none;
  text-align: center;
  min-width: 35vw;
}

.header__right {
  flex: 0.3;
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 20px;
  justify-content: space-between;
}
